{% load static %}
<html>
     <head>
         <meta charset="utf-8" />
         <title>{% block title %}My shop{% endblock %}</title>
         <link href="{% static 'css/base.css' %}" rel="stylesheet">
     </head>
     <body>
         <div id="header">
            <a href="/" class="logo">Мой магазин</a>
         </div>
         <ul class="menu">
             <li {% if section == "dashboard" %} class="selected" {% endif %}>
               <a href="{% url 'dashboard' %}">Мой профиль</a>
             </li>
             <span class="user">
            {% if request.user.is_authenticated %}
                Здравствуйте {{ request.user.first_name|default:request.user.username }},
                     <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Выйти</button>
                     </form>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
            {% endif %}
        </span>
     <div id="subheader">
         <div class="cart">
             {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Ваша корзина:
                     <a href="{% url 'cart:cart_detail' %}">
                         {{ total_items }} товаров {{ total_items|pluralize }},
                         ${{ cart.get_total_price }}
                     </a>
                {% elif not order %}
                    Ваша корзина пуста.
                {% endif %}
             {% endwith %}

         </div>
     </div>
         <div id="content">
         {% block content %}
         {% endblock %}
         </div>
     </body>
</html>
